div(class="container mt-3")
    div(class="jumbotron")
        h1(class="text-center text-primary")="agregar producto al carrito"
        
        select(id="comboCarritos" name="comboCarritos")
        
        select(id="comboProductos" name="comboProductos") 
        
        button(id="btnCrearCart")="add"
        
        div(id="cart")
    
        button(id="btnCrearCart")="crear cart"